@use './global.sass' as *

$input-height: 30px
$textarea-height: 9rem
$select-list-height: 300px

$input-padding: 5px 10px
$input-font-size: 1rem
$input-border-width: 1px
$input-border-type: solid
$input-border-color: rgb(107, 151, 199)
$input-border: $input-border-width $input-border-type $input-border-color
$input-border-radius: $default-border-radius

$option-background-hover: rgb(231, 231, 231)
$option-background-selected: rgb(218, 236, 255)
